
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bfbfbd; 
    min-height: 100vh; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #ee272c; 
    color: #fff;
    padding: 40px 0; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    position: absolute;
    left: 20px; 
    margin-right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    
}

header .logo img {
    width: 50px; 
    height: 70px; 
    cursor: pointer;
    border-radius: 10px;
}

header nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}


header nav ul li a {
    display: block;
    padding: 10px 15px; 
    text-decoration: none;
    color: #fff;
    background-color: #002538; 
    border: 1px solid #00254d; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

header nav ul li a:hover {
    background-color: #000000; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); 
    padding-top: 0; 
   
}

footer {
    background-color: #ff0000; 
    color: #fff;
    text-align: right;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

.image-container {
    width: 40%;
    height: 50%; 
    margin-bottom: 240px; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
}
table {
    box-shadow: 0px 0px 10px 10px rgba(151, 180, 243, 0.2);
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid rgb(151, 180, 243);
    color: black;
}

table th, table td {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(151, 180, 243);
    color: black;
}

table th {
    background-color: #002538; 
    color: #fff; 
    border-right: 1px solid #ddd; 
}


table tbody tr:nth-child(odd) {
    background-color: #686060; 
}


table button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #002538; 
    color: #fff; 
    border: none;
    border-radius: 3px;
}


table button:hover {
    background-color: #0056b3; 
}
#Sesion {
   
    padding: 10px 15px; 
    text-decoration: none;
    color: #fff;
    background-color: #002538; 
    border: 1px solid #00254d; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}
@media screen and (max-width: 768px) {
    table {
        overflow-x: auto;
    }
}
@media screen and (max-width: 480px) {
    header .logo {
        left: 10px; 
    }

    header nav {
        right: 10px; 
    }

    header nav ul li {
        margin-left: 10px; 
    }

    header nav ul li a {
        padding: 8px; 
    }

    main {
        padding-top: 40px; 
    }

    footer {
        padding: 10px 0;
    }
}