* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bfbfbd;
    min-height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #ee272c;
    color: #fff;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header .logo img {
    width: 50px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
}

header nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #002538;
    border: 1px solid #00254d;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #000000;
}

main {
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

footer {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: black;
}
#sobre_nosotros {
    
    margin-left: 80px;
    width: 90%;
    background-color: #dfdfdf;
    border: 2px solid rgb(151, 180, 243);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2  0px;
    text-align: center;
}

#sobre_nosotros h1 {
    font-size: 2em;
    color: rgb(151, 180, 243);
    margin-bottom: 20px;
}

#sobre_nosotros p {
    font-size: 1.2em;
    color: #474747;
    line-height: 1.6;
    margin-bottom: 15px;
}

#sobre_nosotros p:last-child {
    font-style: italic;
    color: #777777;
}
img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto; 
}
#memes{   
    margin-top: 20px;
    display: flex; 
    justify-content: space-between; 
}